
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 271 76% 53%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 271 76% 53%;

    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 271 76% 53%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 271 76% 53%;
  }
}
 
@layer base {
  body {
    @apply bg-background text-foreground;
  }

  .bg-primary-gradient {
    @apply bg-gradient-to-r from-blue-500 to-purple-600;
  }

  .bg-secondary-gradient {
     @apply bg-gradient-to-r from-purple-600 to-indigo-700;
  }
  
  .text-primary {
    @apply text-purple-400;
  }

  .ring-primary {
    --tw-ring-color: hsl(var(--primary));
  }
}

.hide-cursor, .hide-cursor * {
  cursor: none;
}

.target-cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  border: 2px solid #BB86FC; 
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: width 0.2s, height 0.2s, border-width 0.2s;
  z-index: 9999;
  mix-blend-mode: difference;
}

.target-cursor.is-hovering {
  width: 50px;
  height: 50px;
  border-width: 3px;
  animation: spin linear infinite;
}

.target-cursor.is-mouse-down {
  width: 20px;
  height: 20px;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
